html {
  background-color: #880000;
}

body {
  font-family: veranda, ariel, sans-serif;
  background-color: white;
  padding: 20px;
  width: 80%;
  max-width: 980px;
  margin: auto;

}

p {
  padding: 5px;
}

h1,h2 {
  text-align: center;
  font-family: georgia, serif;
  color: #880000;
}

img {
  border: 1px solid black;
  margin: 15px;
  width: 300px;
  max-width: 40%;
  float: left;
}

.intro {
  color: #666666;
  font-size: 1.1em;
  font-family: georgia, serif;
  font-style: italic;
}

.highlight {
  background-color: #FAFABD;
  color: #111111;
  border: solid 1px black;
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  body {
    background-color: #f5f5f5;
    color: #111111;
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: black;
    color: #f5f5f5;
    width: 95%;
    margin: auto;
  }
}
